<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-mask-blue-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>1-mask-blue-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>1-mask-green-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>1-mask-green-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>1-mask-purple-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>1-mask-purple-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>1-mask-red-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>1-mask-red-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>2-guilt-rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>3-board-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>3-board-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>4-player-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>4-player-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>5-mask-child-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>5-mask-child-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>5-mask-father-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>5-mask-father-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,440},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>5-mask-master-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,440},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>5-mask-master-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,440},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters-tileset.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2e8180cedc0ce48f4bc6efa5a933dd7:a7ec2d519574288475af54572ac1dad0:165544c4e188d86d10fabc5ed2f5219f$</string>
            <key>textureFileName</key>
            <string>characters-tileset.png</string>
        </dict>
    </dict>
</plist>
