<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>door-closed-ego-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-closed-ego-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-closed-id-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-closed-id-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-closed-superego-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-closed-superego-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-ego-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,292},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-ego-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,292},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-id-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,292},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-id-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,292},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-superego-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>door-superego-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,582},{192,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>door-tileset.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:106d597c58d81ed98b976f548da95c09:7d8fca10ef365aeb62e22ab841b1d4f8:2d5c87a9dfda1e6555585642376980d7$</string>
            <key>textureFileName</key>
            <string>door-tileset.png</string>
        </dict>
    </dict>
</plist>
