<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-down slab-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>1-down slab-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>2-thick tile-96x144.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-black.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-magenta.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,148},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-switch-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-switch-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>slab-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>t-slab-ego-brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>t-slab-ego-yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,294},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>t-slab-id-dark-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>t-slab-id-light blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,440},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>u-slab-up-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,440},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>u-slab-up-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,440},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slab-tileset.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99d3b7775fc5ab7a91faf391602c25df:750562ad489af7ace54ae4ced94949c1:23498510c3cf349d52dae7499633b8fe$</string>
            <key>textureFileName</key>
            <string>slab-tileset.png</string>
        </dict>
    </dict>
</plist>
